@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/*-------------------------------------
            SCAFOLDING
-------------------------------------*/
body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background: black;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a {
    display: block;
    text-decoration: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
	                      supported by Chrome and Opera */
}

.btn-main {
    margin: 0 auto;
    padding: 12px 24px;
    font-size: 1rem;
    color: #ccc;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 24px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: white;
        color: #333;
    }
}

.btn-git {
    padding: 4px 10px 4px 8px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 32px;
    background-color: #eee;
    font-size: 0.75rem;
    background-image: linear-gradient(180deg, #fcfcfc 0, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#eeeeee",GradientType=0);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;
    outline: none;
}
/*-------------------------------------
            OVERLAYS
-------------------------------------*/

//Overlay Generic
.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

//Screen Fader
.screen-fader {
    display: none;
    background: black;
    z-index: 999;
}

//Preloader
.loader {
    background-color: black;
    color: #fff;
    text-align: center;
    z-index: 1024;
    opacity: 1;

    .wrapper {
        .icon {
            display: block;
            margin: 0 auto;
            border: 2px solid #333;
            border-top: 2px solid #fff;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            animation: spin 0.25s linear infinite;
        }

        .title {
            font-size: 21px;
            font-weight: 300;
        }

        .desc {
            font-size: 14px;
            font-weight: 300;
        }

        .btn-main {
            display: none;
            margin-top: 1rem;
        }
    }
}

//Welcome Screen
.ws {
    display: none;
    text-align: center;
    color: #fff;

    .wrapper {
        h1,
        h3 {
            font-weight: 300;
            text-transform: uppercase;
        }

        button {
            margin: 0 auto;
            padding: 12px 24px;
            font-size: 16px;
            color: #ccc;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 24px;
            text-transform: uppercase;
            margin-top: 64px;
            text-align: center;
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }

        button:hover {
            background-color: white;
            color: #333;
        }
    }
}

.authoring {
    display: none;
    position: absolute;
    z-index: 1024;
    right: 0;
    top: 0;
    margin-right: 32px;
    margin-top: 32px;

    img,
    span {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        margin-right: 0.25rem;
    }
}

/*-------------------------------------
        CONFIGURATOR PALETTE
-------------------------------------*/
.config-palette {
    display: block;
    position: absolute;
    width: 960px;
    bottom: 0px;
    right: 25%;
    left: 50%;
    margin-left: -480px;
    margin-bottom: 32px;
}

.config-tab {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.75);
    transform: skew(20deg);
    -webkit-transform: skew(20deg);

    &__list {
        li {
            display: inline-block;
        }
    }

    span {
        display: block;
        color: #999;
        transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
    }

    &:hover {
        background: white;
        span {
            color: #000;
        }
    }

    &.active {
        background: #ccc;
        span {
            color: #333;
        }
    }
}

.config-options {
    display: none;
    color: white;

    &__wrap {
        display: block;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

.color-swatch,
.texture-swatch {
    position: relative;
    width: 128px;
    height: 81px;
    line-height: 81px;
    margin: 1rem 0.75rem;
    padding: 0px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.375rem;
    cursor: pointer;

    span {
        display: block;
        position: relative;
        opacity: 0;
        background: rgba(0, 0, 0, 0.25);
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        transition: linear opacity 300ms;
    }

    &:focus {
        outline: 0;
    }

    &:hover {
        span {
            opacity: 1;
        }
    }

    &::after {
        position: absolute;
        pointer-events: none;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.5) 50%
        );
        -webkit-mask-image: linear-gradient(#000, transparent);
    }
}

.texture-swatch {
    object-fit: cover;
    background-position: center;
    background-color: #333;
    background-repeat: no-repeat;
}

/*-------------------------------------
            ANIMATIONS
-------------------------------------*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
